<%= semantic_flash %>

<div class="five ui buttons">
  <button class="ui animated blue disabled button" tabindex="0" style="padding: 0">
    <%= link_to '/system/staffs' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Dashboard
      </div>
      <div class="hidden content">
        <i class="clipboard outline icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/staffs/current_appointment' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Current Appointments
      </div>
      <div class="hidden content">
        <i class="users icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/staffs/advice_history' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Advice History
      </div>
      <div class="hidden content">
        <i class="clipboard list icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui vertical animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/staffs/help' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Help
      </div>
      <div class="hidden content">
        <i class="question circle icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated fade red button" tabindex="0" style="padding: 0">
    <%= link_to '/system/logout' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Logout
      </div>
      <div class="hidden content">
        <i class="sign-out icon"></i>
      </div>
    <% end %>
  </button>

</div>

<br><br><br>

<div style="background-color: #DCE9F0; padding: 15px">

  <h1 class = "ui header">Welcome to Course Advice Assistant</h1>
  <p> Please use one of the buttons on the navigation bar to navigate through the website! </p>

</div>

