<%= semantic_flash %>

<div class="six ui buttons">
  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Dashboard
      </div>
      <div class="hidden content">
        <i class="clipboard outline icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated blue disabled button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/enrolments' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Enrolments
      </div>
      <div class="hidden content">
        <i class="clipboard outline icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/request_advice' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Request Advice
      </div>
      <div class="hidden content">
        <i class="users icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/advice_history' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Advice History
      </div>
      <div class="hidden content">
        <i class="clipboard list icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui vertical animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/help' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Help
      </div>
      <div class="hidden content">
        <i class="question circle icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated fade red button" tabindex="0" style="padding: 0">
    <%= link_to '/system/logout' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Logout
      </div>
      <div class="hidden content">
        <i class="sign-out icon"></i>
      </div>
    <% end %>
  </button>

</div>
<br/><br/><br/>
<div style="background-color: #DCE9F0; padding: 15px">

  <h2 class="ui header">My enrolments</h2>
  <br>
  <table class="ui table">
    <thead>
    <tr>
      <th>Course name</th>
      <th>Term</th>
      <th>Marks</th>
    </tr>
    </thead>
    <tbody>
    <% @enrolments.each do |enrolment| %>
      <tr>
        <% @courses.each do |course| %>
          <% if enrolment.course_ID == course.course_ID %>
            <td><%= course.subject_area %> <%= course.catalogue %> <%= course.name %></td>
          <%end%>
        <%end%>
        <% if enrolment.term%100== 10%>
          <td>Semester 1</td>
        <%elsif enrolment.term%100== 20%>
          <td>Semester 2</td>
        <%elsif enrolment.term%100== 5%>
          <td>Summer School</td>
        <%elsif enrolment.term%100== 15%>
          <td>Winter School</td>
        <%end%>
        <td><%= enrolment.marks %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>