<%= semantic_flash %>
<div class="six ui buttons">
  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Dashboard
      </div>
      <div class="hidden content">
        <i class="clipboard outline icon"></i>
      </div>
    <% end %>
  </button>
  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/enrolments' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Enrolments
      </div>
      <div class="hidden content">
        <i class="clipboard outline icon"></i>
      </div>
    <% end %>
  </button>
  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/request_advice' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Request Advice
      </div>
      <div class="hidden content">
        <i class="users icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated blue disabled button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/advice_history' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Advice History
      </div>
      <div class="hidden content">
        <i class="clipboard list icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui vertical animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/help' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Help
      </div>
      <div class="hidden content">
        <i class="question circle icon"></i>
      </div>
    <% end %>
  </button>

  <button class="ui animated fade red button" tabindex="0" style="padding: 0">
    <%= link_to '/system/logout' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Logout
      </div>
      <div class="hidden content">
        <i class="sign-out icon"></i>
      </div>
    <% end %>
  </button>

</div>
<br/><br/><br/>

<div style="background-color: #DCE9F0; padding: 15px">
  <h2 class="ui center aligned icon header">Advice Details</h2>
  <table class="ui definition selectable table">
    <thead>
    <tr>
      <th>Advice ID</th>
      <th>Date</th>
      <th style="width: 70%;">Note</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @a_ID %></td>
        <td><%= @date %></td>
        <td><%= @note %></td>
      </tr>
    </tbody>
  </table>
    <h2 class="ui header">Please find your personalised advice for "Year <%= @year %>, <%= @teaching_period %>" below.</h2>
    <h4 class="ui header">If you have any further questions, please book an appointment with a Course Advisor from the last section</h4>

    <h3>Core Course(s)</h3>
    <% if @selected_core_courses.empty? %>
      <h4> No core courses available for this term.</h4>
    <% else %>
      <table class="ui definition selectable table">
        <thead>
        <tr>
          <th>Course ID</th>
          <th>Course Name</th>
          <th>Prerequisite</th>
          <th>Corequisite</th>
          <th>Assumed Knowledge</th>
          <th>Course Description</th>
          <th>Restriction</th>
        </tr>
        </thead>

        <tbody>
        <% @selected_core_courses.each do |course| %>
          <tr>
            <td><%= course.course_ID %></td>
            <td><%= course.subject_area %> <%= course.catalogue %> <%= course.name %></td>
            <td><%= course.prerequisite %></td>
            <td><%= course.corequisite %></td>
            <td><%= course.assumed_knowledge %></td>
            <td><%= course.description %></td>
            <td><%= course.restriction %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <br/>

    <h3>Elective Course(s)</h3>
    <% if @selected_electives.empty? %>
      <h4> No electives available for this term.</h4>
    <% else %>
      <table class="ui definition selectable table">
        <thead>
        <tr>
          <th>Course ID</th>
          <th>Course Name</th>
          <th>Prerequisite</th>
          <th>Corequisite</th>
          <th>Assumed Knowledge</th>
          <th>Course Description</th>
          <th>Restriction</th>
        </tr>
        </thead>

        <tbody>
        <% @selected_electives.each do |course| %>
          <tr>
            <td><%= course.course_ID %></td>
            <td><%= course.subject_area %> <%= course.catalogue %> <%= course.name %></td>
            <td><%= course.prerequisite %></td>
            <td><%= course.corequisite %></td>
            <td><%= course.assumed_knowledge %></td>
            <td><%= course.description %></td>
            <td><%= course.restriction %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <br/>

  <table class="ui definition selectable table">
    <colgroup>
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 30%;">
      <col span="1" style="width: 50%;">
    </colgroup>

    <tbody>
    <tr>
      <td>Book appointment: </td>
      <td><!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <a href="" style="color: blue;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/test_esas'});return false;">Schedule a time with a Course Advisor</a>
        <!-- Calendly link widget end --></td>
    </tr>
    </tbody>
  </table>

  <br>

  <button class="ui animated blue button" tabindex="0" style="padding: 0">
    <%= link_to '/system/students/advice_history' do %>
      <div class="visible content" style="margin: 0; padding: 10px">
        Back
      </div>
      <div class="hidden content">
        <i class="chevron left icon"></i>
      </div>
    <% end %>
  </button>
</div>