<%= semantic_flash %>
<br><br><br>

<div class="ui centered grid">
  <div class="row" style="background-color: #DCE9F0;">
    <div class="six wide column">
      <%= form_with(url: '/system/login', html: { class: "ui form" }) do |form| %>
        <br><br><br><br><br>
        <div class="field">
          <%= form.label :Account %>
          <%= form.text_field :Account, autofocus: true %>
        </div>


        <div class="field">
          <%= form.label :Password %>
          <%= form.password_field :Password %>
        </div>

        <div class="actions">
          <%= form.submit "Login", class: "ui primary button"%>
        </div>
      <% end %>

    </div>

    <div class="six wide column">
      <img class="ui right floated Medium image" src=<%=image_path('the_university_of_adelaide.png')%>>

    </div>
  </div>
</div>



